<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <!-- CSS for Tocbot -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tocbot@4/dist/tocbot.css">
  <link rel="stylesheet" href="/assets/css/custom.css">


  <body>
    
    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}
    
  <!-- JavaScript for Tocbot -->
  <script src="https://cdn.jsdelivr.net/npm/tocbot@4/dist/tocbot.min.js"></script>
  </body>

</html>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '#sticky-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: 'main',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h2, h3',
      // For more options, visit the official documentation.
      orderedList: false,
    });
  });
</script>
